[Unit]
Description=Gunicorn instance to serve flex_records api
After=network.target

[Service]
User=ubuntu
Group=www-data
Restart=on-failure
WorkingDirectory=/home/ubuntu/flex_records/backend
Environment=server=primary
ExecStart=./home/ubuntu/flex_records/backend/start_backend_prod.sh

[Install]
WantedBy=multi-user.target

