[Unit]
Description=React flex_records app
After=network.target

[Service]
User=ubuntu
Group=www-data
Restart=on-failure
WorkingDirectory=/home/ubuntu/flex_records/frontend
ExecStart=./home/ubuntu/flex_records/frontend/start_frontend_prod.sh

[Install]
WantedBy=multi-user.target

