[Unit]
Description=React flex_records app
After=network.target

[Service]
User=ubuntu
Group=www-data
Restart=on-failure
WorkingDirectory=/home/ubuntu/flex_records/frontend
ExecStart=serve -s build

[Install]
WantedBy=multi-user.target

