body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(237, 241, 241);
  font-family: "Abhaya Libre", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  position: relative;
  color: #1a1a17;
}

h1,
h2 {
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(78, 72, 72);
}

p {
  line-height: 1.5;
}

input {
  background-color: #edebd6;
}

div {
  box-sizing: border-box;
}

a {
  color: #8d1d09;
}

footer {
  width: 100%;
  height: 31px;
  position: relative;
  bottom: 0;
  border-top: 1px solid rgba(83, 67, 163, 0.426);
  text-align: center;
  line-height: 31px;
}

.pointer {
  cursor: pointer;
}

.outer--container {
  height: 100%;
  width: 95%;
  margin: auto;
}

.container {
  min-height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.welcome--container {
  margin-top: 40px;
  min-height: 85vh;
  width: 100%;
  align-items: center;
}

.descriptions--container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5%;
}

.hero--container {
  width: 100%;
  text-align: center;
}

.hero--container h1 {
  font-size: 5rem;
}

.intro--container,
.compute--container,
.access--anywhere--container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: rgb(221, 218, 214);
}

.about--container h2 {
  text-align: left;
}

.access--anywhere--container {
  grid-column-start: 1;
  grid-column-end: 3;
}

.text {
  padding: 5px 15px;
  border-radius: 20px;
}

.text > h1,
h2 {
  text-align: center;
  font-size: 2rem;
}

.compute--image img,
.intro--image img {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
}

.text p, p {
  padding: 2px 13px;
  font-size: 1.5rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
}

.tutorial--container {
  min-height: 85vh;
  align-items: center;
  width: 70%;
  margin: auto;
}

.tutorial--container > h1 {
  text-align: center;
  color: blue;
}

.docs--container {
  min-height: 85vh;
  align-items: center;
  width: 70%;
  margin: auto;
}

.docs--container > h1 {
  text-align: center;
  color: blue;
  padding: 20px;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .container {
    width: fit-content;
  }

  .intro--container,
  .compute--container,
  .access--anywhere--container,
  .about--container {
    width: 100%;
  }

  .outer--container {
    max-width: 100%;
    margin: auto;
  }

  .descriptions--container {
    display: grid;
    grid-template-columns: auto;
  }

  .access--anywhere--container {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .hero--container h1 {
    font-size: 3rem;
    text-align: left;
  }

  .docs--container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .docs--container * {
    box-sizing: border-box;
  }

  .tutorial--container {
    width: 100%;
    min-width: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .tutorial--container * {
    margin: 0;
    box-sizing: border-box;
  }

  iframe {
    width: 95vw;
    height: 58vw;
  }
}
