body {
  box-sizing: border-box;
  margin: 0;
  /* background-image: linear-gradient(to bottom right, rgb(236, 243, 245), rgb(63, 62, 49)); */
  background-color: rgb(197, 220, 226);
  font-family: "Abhaya Libre", Arial;
  line-height: 1.3;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

h1,
h2,
h3 {
  font-family: Georgia;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

input {
  background-color: #edebd6;
}

div {
  box-sizing: border-box;
}

a {
  /* color: #d684c4; */
  color: black;
}

footer {
  width: 100%;
  height: 31px;
  position: relative;
  bottom: 0;
  border-top: 1px solid rgba(83, 67, 163, 0.426);
  text-align: center;
  line-height: 31px;
}

.pointer {
  cursor: pointer;
}

.outer--container {
  height: 100%;
  width: 90%;
  margin: auto;
}

.container {
  min-height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.welcome--container {
  margin-top: 40px;
  min-height: 85vh;
  width: 100%;
  align-items: center;
}

.compute--text,
.intro--text {
  width: 100%;
}

.side--pane {
  width: 20%;
  max-width: 25%;
  height: 80vh;
  border-right: 1px solid rgba(83, 67, 163, 0.426);
  padding: 20px;
}

.table--list {
  padding-top: 20px;
}

.table--list > h3 {
  text-align: left;
}

.table--list > h3:hover {
  color: rgba(0, 0, 255);
  font-size: 1.2em;
}

button {
  width: 100px;
  background-color: #522081;
  border-radius: 5px;
  color: rgb(206, 206, 240);
  border-width: 0;
  padding: 5px;
}

button:hover {
  background-color: rgb(180, 53, 53);
  cursor: pointer;
}

.current--table--name {
  color: #aa4a44;
}

.text {
  background-image: linear-gradient(to bottom right, rgb(117, 204, 226), rgb(51, 39, 94));
  padding: 5px 15px;
  border-radius: 20px;
}

.text > h1,
h2,
h3,
h4 {
  text-align: center;
}

.intro--container,
.compute--container,
.access--anywhere--container,
.about--container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 70%;
  margin: 30px auto;
}

.hero--container {
  background-image: url("table_image.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: contain;
  height: 500px;
}


.compute--image img,
.intro--image img {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
}

.welcome--container > h1 {
  text-align: center;
  color: blue;
  width: 70%;
  margin: auto;
}

p {
  padding: 2px 13px;
  font-size: 20px;
}

.tutorial--container {
  min-height: 85vh;
  align-items: center;
  width: 70%;
  margin: auto;
}

.tutorial--container > h1 {
  text-align: center;
  color: blue;
}

.docs--container {
  min-height: 85vh;
  align-items: center;
  width: 70%;
  margin: auto;
}

.docs--container > h1 {
  text-align: center;
  color: blue;
  padding: 20px;
}

.docs--architecture > img {
  width: 95%;
  border-radius: 10px;
  padding: 20px;
}

.create--form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  padding: 0.5rem 0;
  align-items: center;
  border: 1px solid rgba(83, 67, 163, 0.426);
  margin-bottom: 2rem;
  border-radius: 10px;
  /* background-color: ; */
}

.form--block {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.form--block label,
.form--block input {
  display: block;
  padding-bottom: 4px;
}

.form--block input {
  margin-right: 20px;
  width: 50%;
}

.create--form--btns button {
  margin: 0.5rem;
}

.cancel--btn {
  background-color: rgba(225, 10, 10, 0.518);
  color: rgba(255, 255, 255, 0.837);
}

.cancel--btn:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .container {
    width: fit-content;
  }

  .intro--container,
  .compute--container,
  .access--anywhere--container,
  .about--container {
    width: 100%;
  }

  .outer--container {
    max-width: 100%;
    margin: auto;
  }

  .hero--container {
    display: none;
  }

  .docs--container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .docs--container * {
    box-sizing: border-box;
  }

  .tutorial--container {
    width: 100%;
    min-width: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .tutorial--container * {
    margin: 0;
    box-sizing: border-box;
  }

  iframe {
    width: 95vw;
    height: 58vw;
  }

  .docs--architecture > img {
    width: 100%;
    border-radius: 10px;
    padding: 0;
  }

  .welcome--container > h1 {
    text-align: left;
    padding-left: 10px;
    width: 100%;
  }
}
