.table--view {
  height: 90vh;
  padding: 20px;
  overflow: auto;
}

.current--table {
  padding: 20px;
  position: relative;
}

.row--container {
  padding: 2px;
  display: flex;
}

.label--col {
  color: red;
  min-width: 200px;
}

input {
  width: 50px;
}

.input-1 {
  width: 75px;
}

.input-2 {
  width: 150px;
}

.input-3 {
  width: 200px;
}

.numbering {
  display: inline-block;
  width: 25px;
  height: 100%;
  line-height: 1.5;
  text-align: right;
  padding-right: 2px;
}

.rule--options {
  padding-left: 20px;
}

.rule--container {
  width: 120%;
}

.rules--buttons {
  width: 700px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.table--view::-webkit-scrollbar {
  display: none;
}

.table--view {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cell--container {
  margin-right: 10px;
  margin-bottom: 5px;
}

.cell--input {
  display: inline-block;
  height: 80%;
}

.cell--is--function--applicable--color {
  background-color: aquamarine;
  cursor: pointer;
}

.cell--is--selected {
  background-color: blue;
}

.function--sign {
  display: inline-block;
  padding: 2px;
  background-color: rgb(122, 36, 33);
  color: aliceblue;
  width: 15px;
  height: 80%;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.select--box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px dashed black;
  position: absolute;
}

.hover--bold:hover {
  font-weight: bold;
}

.registered--funcs--box {
  background-color: rgba(19, 224, 214, 0.5);
  border: 1px dashed black;
  position: absolute;
  z-index: 100;
}

#registered--funcs--display--elements--container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em .5em;
  background-color: rgb(194, 226, 226);
  position: absolute;
  top: 0;
  right: 10px;
}

.registered--func--display--el {
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
  margin-bottom: 1em;
}

@media screen and (max-width: 400px) {
  .table--view {
    min-width: fit-content;
  }
}
